<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <Appenders>
        <RollingFile name="RollingFile" fileName="${sys:catalina.home}/webapps/web-1.0/logs/app.log"
                     filePattern="${sys:catalina.home}/webapps/web-1.0/logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log">
            <PatternLayout>
                <Pattern>%d %p [%c] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="20 kB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>

    <loggers>
        <root level="INFO">
            <AppenderRef ref="RollingFile"/>
        </root>
    </loggers>

</Configuration>